@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // overflow-y: hidden;
}

.App {
    // background-color: antiquewhite;
    font-family: "League Spartan", sans-serif;
}

nav {
    position: fixed;
    padding-top: 43px;
    padding: 0px 23px 0 23px;
    height: 110px;
    width: 100%;
    z-index: 100000;

    &.colorChange {
        background-color: black;
    }

    & .hamburger-logo {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 100%;
        height: inherit;

        & .logo {
            display: flex;
            align-items: center;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        & .open-hamburger {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .nav-links {
                display: flex;
                gap: 15px;
                list-style: none;
                flex-wrap: wrap;

                & a {
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 0.5s ease;
                }
            }
        }

        & .navbar-600 {
            width: 100%;
            display: flex;
            gap: 70px;
            align-items: center;

            & .logo {
                width: auto;
            }

            & .nav-links {
                display: flex;
                gap: 50px;
                list-style: none;
                flex-wrap: wrap;

                & a {
                    color: white;
                    text-decoration: none;
                    transition: all 0.5s ease;
                }
            }
        }
    }

    @media screen and (min-width: 750px) {
        & .hamburger-logo {
            & .navbar-600 {
                & .nav-links {
                    & a {
                        // color: green;
                        &:hover {
                            color: black;
                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }
}

header {
    height: 100vh;
    width: 100vw;

    & .container {
        height: inherit;
        width: inherit;
        & .first-section {
            height: 50%;
            width: inherit;
            position: relative;

            & .background-img {
                height: 100%;
                width: 100%;
                background-color: aqua;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .left-right-arrow {
                background-color: black;
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 0;
                right: 0;

                & .left-arrow,
                & .right-arrow {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        & .second-section {
            & .shop-now {
                margin-top: 15px;
                display: flex;
                align-items: center;
                gap: 30px;
                letter-spacing: 10px;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                    transition: opacity ease-in-out 0.3s;
                }

                & p {
                    color: black;
                }
            }
        }

        & .text-container {
            width: 80%;
            margin: 25px auto;
            line-height: 1.5;

            & h2 {
                font-size: 1.4rem;
                margin-bottom: 15px;
            }

            & p {
                font-size: 13px;
                color: var(--DarkGray);
            }
        }

        & .section-img {
            width: 100%;
            height: 300px;

            & img {
                object-fit: cover;
                width: inherit;
                height: inherit;
            }
        }
    }

    @media screen and (min-width: 750px) {
        // max-height: 100vh;
        & .container {
            display: grid;
            width: 100%;
            height: inherit;
            grid-template-columns: 29% 29% 100px calc(100% - 29% - 29% - 100px);
            grid-template-rows: 60% 40%;

            & .first-section {
                grid-column: 1/3;
                // grid-row: 1/2;
                height: 60vh;
            }

            & .second-section {
                grid-column: 3/6;
                height: 60vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                & .text-container {
                    & .text-container {
                        margin: 0 0;
                    }
                }

                & .left-right-arrow {
                    background-color: black;
                    background-color: black;
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    & .left-arrow,
                    & .right-arrow {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: black;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            & .third-section {
                // grid-row: 3/3;
                height: 40vh;
            }

            & .fourth-section {
                grid-column: 2/4;
                height: 40vh;
                display: flex;
                align-items: center;
                justify-content: center;

                & .text-container {
                    margin: 0 0;
                }
            }

            & .fifth-section {
                grid-column: 4/6;
                height: 40%;
                height: 40vh;
            }

            & .section-img {
                height: 100%;

                & img {
                    height: 100%;
                }
            }
        }
    }
}
